/*--- RESET ---*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--- /RESET ---*/

/*--- TEXT ---*/
body {
    font-family: 'Kanit', sans-serif;
    color: white;
}

h1 {
    font-size: 46px;
}

h2 {
    font-size: 26px;
    color: black;
}

.mainContent p {
    color: black;
    font-size: 14px;
}
/*--- BUTTONS ---*/

.btn{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 0 2px;
    border-radius: 20px;
    font-weight: 500;    
}

.btn.bt-white {
    padding: 8px 12px;
    float: right;
    background-color: white;
    border: 1px solid #3161e0;
    font-size: 12px;
    
}

.btn.bt-white2 {
    background-color: white;
    border: 1px solid #3161e0;
    padding: 12px 28px;
    margin-right: 8px;
    font-size: 15px;
}

.btn.bt-black {
    background-color: #23272a;
    color: white;
    border: 1px solid #23272a;
    padding: 12px 28px;
    margin-left: 8px;
    font-size: 15px;
}
/*--- COMMON ---*/

.container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.logo, .btn.bt-white {
    
    margin-top: 16px;
}

.hero {
    background-image: url(../img/jumbo.png);
    height: 80vh;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo {
    float: left;
    display: inline-block;
}

.mainNav {
    display: inline-block;
    width: 80%;
    text-align: center;
    margin-top: 20px;
   

}

.mainNav li, .mainNav li a {
    display: inline-block;
    text-decoration: none;
}

.mainNav li a {
    margin: auto;
    color: white;
    font-size: 14px;
    padding-right: 25px;
}

.hero-content {
    margin: auto;
    margin-top: 140px;
    text-align: center;
    max-width: 600px;
}

.hero-content button {
    margin-top: 10px;
}

.hero-content p {
    padding-top: 30px;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
}

.containerMain {
    max-width: 800px;
    height: 300px;
    margin: auto;
}

.boxImg {
    margin: auto;
    margin-top: 50px;
    display: inline-block;
    padding-bottom: 50px;

}

.boxImg img{
    max-height: 300px;
}

.mainContent {
    display: inline-block;
    max-width: 250px;
    float: right;

}

.mainContent p{
    margin-top: 15px;
    
}